## DB에 Python으로 접속하여 SQL Query를 이용하여 pandas DataFrame 만들기

### Oracle DB에서 pandas DataFrame 만들기

In [ ]:
def query_OracleSQL(query):
  import pandas as pd
  import cx_Oracle as co
  from datetime import datetime

  start_tm = datetime.now()

  # DB Connection
  dsn_tns = co.makedsn("Host Name", "Post Number", service_name = "service_name")
  conn = co.connect(user="UserName", password = "Personal Password", dsn = dnsStr)

  # Get a dataframe
  query_result = pd.read_sql(query, conn)

  # Close connection
  conn.close()

  end_tm = datetime.now()

  print("Start Time : ", start_tm)
  print("End TIme : ", end_tm)
  print("ELAP :",  str(end_tm - start_tm))

  return query_result

##-- SQL query
query = """
     SELECT var1, var2, ymd, count(*) as cnt
          FROM myOracleDB
          WHERE ymd BETWEEN
               to_date('2016-11-22T00:00:00', 'YYYY-MM-DD"T"HH24:MI:SS')
               AND
               to_date('2016-11-22T23:59:59', 'YYYY-MM-DD"T"HH24:MI:SS')
GROUP BY var1
ORDER BY cnt
               """

### PostgreSQL에 Python으로 접속하여 SQL query 해서 pandas DataFrame 만들기

In [ ]:
def query_postgreSQL(query):
  import pandas as pd
  import psycopg2 as pg
  from datetime import datetime

  conn = pg.connect(host = "",
                    port = '',
                    dbname = '',
                    user = '',
                    password = '')

  start_tm = datetime.now()

  query_result = pd.read_sql(conn, query)

  end_tm = datetime.now()

  print("START: ", start_tm)
  print("END: ", end_tm)
  print("ELAP:", start_tm - end_tm)

  return query_result