### DataFrame을 pandas로 내보내는 방법 : to_csv

In [2]:
import pandas as pd
data = {'ID': ['A1', 'A2', 'A3', 'A4', 'A5'], 'X1':[1, 2, 3, 4, 5], 'X2':[1, 2, 3, 4, 5]}
data_df = pd.DataFrame(data, index = ['a', 'b', 'c', 'd', 'e'])

data_df

   ID  X1  X2
a  A1   1   1
b  A2   2   2
c  A3   3   3
d  A4   4   4
e  A5   5   5

- 만약 DataFrame에 결측값이 있다면, na_rep paramter로 지정해 주어야 함

In [4]:
data_df.to_csv("./df.csv", sep = ",", na_rep = 'NaN')

### to_csv parameter 정보
- header = True (첫번째 줄을 칼럼 이름으로 사용)
- columns = 특정 칼럼만 csv 로 쓰기 (내보내기) 할 때 칼럼 이름을 list에 적어줌
- index = True (행의 이름 index 도 같이 내보냄. index 내보내기 싫으면 False 명기)
- float_format = '%.2f' (예: float8 을 소수점 둘째 자리까지 표기)
- encoding = 'utf-8' (on Python 3)
- line_terminator = '\n' (엔터로 줄 바꿈)
- date_format = None (datetime 객체에 대한 format 설정하지 않음)